<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Table</title>
</head>
<body>
    <h1>Clients Table</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Client Name</th>
                <th>Email</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients_data %}
                <tr>
                    <td>{{ client[0] }}</td>
                    <td>{{ client[1] }}</td>
                    <td>{{ client[2] }}</td>
                    <td>{{ client[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
